# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Dados brutos e tratados
dados_brutos/
dados_tratados/
dados_processados/

# Arquivos temporários
*.tmp
*.log

# Sistema
.DS_Store
Thumbs.db
